{% if DEFAULT_PAGINATION %}
  <div class="pagination">
  <ul class="pagination">
  
  {% if articles_page.has_previous() %}
    <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="fa fa-angle-left"></i></a></li>
    <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">{{ articles_previous_page.number }}</a></li>
  {% else %}
    <li class="disabled"><a href="#!"><i class="fa fa-angle-left"></i></a></li>
  {% endif %}
  
    <li class="active"><a href="#!">{{ articles_page.number }}</a></li>
  
  {% if articles_page.has_next() %}
    <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ articles_next_page.number }}</a></li>
    <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="fa fa-angle-right"></i></a></li>
  {% else %}
    <li class="disabled"><a href="#!"><i class="fa fa-angle-right"></i></a></li>
  {% endif %}
  
  </ul>
  </div>
{% endif %}
